<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke" verbose="1" >
    <test name="Creating new account test" >
        <classes>
            <class name= "tests.CreateAccountTest"/>
            <class name= "tests.LogInTest"/>
            <class name="tests.LogoTest"></class>
        </classes>
    </test>
</suite>